# Katalon Studio
/bin/
/Libs/
/Reports/
/output/
/build/
/.settings/
/.classpath
/.project
/.cache/
/settings/internal/
console.properties
*.log

# Reports
*.pdf
*.html

# Gradle
.gradle/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db